.navbar{
	transition: all 1s ease-in-out;
	/* Affix */
	&.scrollup{
		background-color: $c_blanco;
		border-bottom: 2px solid $c_negro_1;
		.nav-item>a,
		.navbar-brand{
			/*color: #fff;*/
		}
	}
	@include media-breakpoint-down(sm) {
		.navbar-brand{
			img{
				//height: 30px;
			}
		}
	}
}
/* Nav Trigger */
.nav-trigger {
  width: 50px;
  height: 50px;
  position: relative;
  background: transparent;
  border: none;
  vertical-align: middle;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  &:focus {
  	outline: 0;
  }
  &:hover {
    span,
    span:before,
    span:after {
    	background: #AC92EC;
    }
  }
  &:before {
    content: '';
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  span {
    display: block;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
  span,
  span:before,
  span:after {
    width: 100%;
    height: 4px;
    background: #967ADC;
    transition: all 0.4s ease;
  }
  &.is-active {
    &:before {
      opacity: 1;
      width: 50px;
      height: 50px;
      background: #fff;
    }
    span {
      background: transparent;
      &:before {
        top: 0;
        transform: rotate(225deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(-225deg);
      }
    }
  }
}
/* Dropdown chat y sesion */
#dropdown{
    &-notificaciones{
      .dropdown-toggle{
        &::after{
          display: none;
        }
        span{
          top: -10px;
        }
      }
      .dropdown-menu{
        width: 300px;
        .notification-title{
          background: #0088CC;
            border-radius: 3px 3px 0 0;
            color: #FFF;
            font-size: 0.7rem;
            line-height: 1.5rem;
            padding: 8px 6px 8px 12px;
            text-transform: uppercase;
        }
          .content{
          ul{
            list-style: none;
              margin: 0;
              padding: 0;
              li{
                border-bottom: 1px solid var(--bs-dropdown-divider-bg);
                &:last-child{
                  border-bottom: none;
                }
                a{
                  display: block;
                text-decoration: none;
                figure{
                  float: left;
                  margin: 0 7px 0 0;
                }
                .title{
                    color: #000011;
                    display: block;
                    font-size: 0.8rem;
                    padding: 2px 0 0;
                  }
                  .message{
                    color: #ACACAC;
                    display: block;
                    font-size: 0.7rem;
                  }
                }
              }
          }
        }
      }
    }
    &-sesion{
      .dropdown-menu{
        li{
          border-top: 1px solid var(--bs-dropdown-divider-bg);
          }
      }
    }
  }