/* Colores */
.c-transparent{color: transparent!important;}
.c-negro{color: $c_negro;}
.h-c-negro:hover, .h-c-negro:focus{color: $c_negro;}
.c-negro-1{color: $c_negro_1;}
.h-c-negro-1:hover, .h-c-negro-1:focus{color: $c_negro_1;}
.c-blanco{color: $c_blanco;}
.h-c-blanco:hover, .h-c-blanco:focus, .active-c-blanco{color: $c_blanco!important;}
.c-gris-claro{color: $c_gris_claro;}
.h-c-gris-claro:hover, .h-c-gris-claro:focus, .active-c-gris-claro{color: $c_gris_claro!important;}
.c-gris-1{color: $c_gris_1;}
.h-c-gris-1:hover, .h-c-gris-1:focus, .active-c-gris-1{color: $c_gris_1!important;}
.c-gris-2{color: $c_gris_2;}
.h-c-gris-2:hover, .h-c-gris-2:focus, .active-c-gris-2{color: $c_gris_2!important;}
.c-azul-1{color: $c_azul_1;}
.h-c-azul-1:hover, .h-c-azul-1:focus, .active-c-azul-1{color: $c_azul_1!important;}
.c-azul-2{color: $c_azul_2;}
.h-c-azul-2:hover, .h-c-azul-2:focus, .active-c-azul-2{color: $c_azul_2!important;}
.c-azul-3{color: $c_azul_3;}
.h-c-azul-3:hover, .h-c-azul-3:focus, .active-c-azul-3{color: $c_azul_3!important;}
.c-azul-4{color: $c_azul_4;}
.h-c-azul-4:hover, .h-c-azul-4:focus, .active-c-azul-4{color: $c_azul_4!important;}
.c-azul-5{color: $c_azul_5;}
.h-c-azul-5:hover, .h-c-azul-5:focus, .active-c-azul-5{color: $c_azul_5!important;}
.c-naranja-1{color: $c_naranja_1;}
.h-c-naranja-1:hover, .h-c-naranja-1:focus, .active-c-naranja-1{color: $c_naranja_1!important;}
.c-naranja-2{color: $c_naranja_2;}
.h-c-naranja-2:hover, .h-c-naranja-2:focus, .active-c-naranja-2{color: $c_naranja_2!important;}
.c-verde-1{color: $c_verde_1;}
.h-c-verde-1:hover, .h-c-verde-1:focus, .active-c-verde-1{color: $c_verde_1!important;}
.c-verde-2{color: $c_verde_2;}
.h-c-verde-2:hover, .h-c-verde-2:focus, .active-c-verde-2{color: $c_verde_2!important;}
.c-verde-3{color: $c_verde_3;}
.h-c-verde-3:hover, .h-c-verde-3:focus, .active-c-verde-3{color: $c_verde_3!important;}
.c-verde-4{color: $c_verde_4;}
.h-c-verde-4:hover, .h-c-verde-4:focus, .active-c-verde-4{color: $c_verde_4!important;}
/* Fondos */
.bg-negro-1{background-color:$c_negro_1;}
.bg-gris-claro{background-color:$c_gris_claro;}
.bg-gris-1{background-color:$c_gris_1;}
.bg-gris-2{background-color:$c_gris_2;}
.bg-azul-1{background-color: $c_azul_1;}
.bg-azul-2{background-color: $c_azul_2;}
.bg-azul-3{background-color: $c_azul_3;}
.bg-azul-4{background-color: $c_azul_4;}
.bg-azul-5{background-color: $c_azul_5;}
.bg-naranja-1{background-color: $c_naranja_1;}
.bg-naranja-2{background-color: $c_naranja_2;}
.bg-verde-1{background-color: $c_verde_1;}
.bg-verde-2{background-color: $c_verde_2;}
.bg-verde-3{background-color: $c_verde_3;}
.bg-verde-4{background-color: $c_verde_4;}