/* Precarga formulario */
.loading-container,
.loading-spinner{
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}
.ajax-loader{
	.loading-spinner{
		opacity:1;
		visibility:visible;
	}
	.loading-container{
		opacity:1;
		visibility:visible;
	}
}
.loading-container{
	opacity:0;
	visibility:hidden;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(245,245,245,.65);
	z-index:9999;
}
.loading-spinner{
	opacity:0;
	visibility:hidden;
	width:29px;
	height:29px;
	margin:auto;
	opacity:.85;
	z-index:9;
	-webkit-transition-delay:.35s;
	-moz-transition-delay:.35s;
	-ms-transition-delay:.35s;
	-o-transition-delay:.35s;
	transition-delay:.35s;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	>div{
		position:absolute;
		background-color:#fff;
		height:5px;
		width:5px;
		border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		animation-name:onyx-fade;
		-o-animation-name:onyx-fade;
		-ms-animation-name:onyx-fade;
		-webkit-animation-name:onyx-fade;
		-moz-animation-name:onyx-fade;
		animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
		animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
		animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal
	}
}
.circle_01{left:0;top:12px;animation-delay:.45s;-o-animation-delay:.45s;-ms-animation-delay:.45s;-webkit-animation-delay:.45s;-moz-animation-delay:.45s}
.circle_02{left:3px;top:3px;animation-delay:.6s;-o-animation-delay:.6s;-ms-animation-delay:.6s;-webkit-animation-delay:.6s;-moz-animation-delay:.6s}
.circle_03{left:12px;top:0;animation-delay:.75s;-o-animation-delay:.75s;-ms-animation-delay:.75s;-webkit-animation-delay:.75s;-moz-animation-delay:.75s}
.circle_04{right:3px;top:3px;animation-delay:.9s;-o-animation-delay:.9s;-ms-animation-delay:.9s;-webkit-animation-delay:.9s;-moz-animation-delay:.9s}
.circle_05{right:0;top:12px;animation-delay:1.05s;-o-animation-delay:1.05s;-ms-animation-delay:1.05s;-webkit-animation-delay:1.05s;-moz-animation-delay:1.05s}
.circle_06{right:3px;bottom:3px;animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s}
.circle_07{left:12px;bottom:0;animation-delay:1.35s;-o-animation-delay:1.35s;-ms-animation-delay:1.35s;-webkit-animation-delay:1.35s;-moz-animation-delay:1.35s}
.circle_08{left:3px;bottom:3px;animation-delay:1.5s;-o-animation-delay:1.5s;-ms-animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s}
@keyframes onyx-fade{
	0%{
		background-color:#000
	}
	100%{
		background-color:#fff
	}
}
@-o-keyframes onyx-fade{
	0%{
		background-color:#000
	}
	100%{
		background-color:#fff
	}
}
@-ms-keyframes onyx-fade{
	0%{
		background-color:#000
	}
	100%{
		background-color:#fff
	}
}
@-webkit-keyframes onyx-fade{
	0%{
		background-color:#000
	}
	100%{
		background-color:#fff
	}
}
@-moz-keyframes onyx-fade{
	0%{
		background-color:#000
	}
	100%{
		background-color:#fff
	}
}
/* Formularios generales */
label{
	&.valid{
		display: inline-block;
		text-indent: -9999px;
	}
	&.error{
		color: $c_naranja_1;
		font-size: 0.9em;
		margin-top: -5px;
		padding: 0;
	}
}
.form-container input:not([readonly])[valid],
.form-container .has-success input:not([readonly]),
.form-container textarea:not([readonly])[valid],
.form-container .has-success textarea:not([readonly]){
	color: $c_negro;
}
.form-container .form-group.has-error,
.form-container .form-group.has-success{
	position: relative;
}
.form-container .form-group.has-error,
.form-container .form-group.has-error i{
	color: $c_naranja_1;
}
.form-container .form-group.has-success,
.form-container .form-group.has-success i{
	color: $c_verde_1;
}
.form-container .form-group.has-error .fileupload svg.fa-exclamation-circle,
.form-container .form-group.has-error .fileupload i.fa-exclamation-circle,
.form-container .has-success .fileupload svg.fa-check-circle,
.form-container .has-success .fileupload i.fa-check-circle{
	display: none!important;
}
.form-container .form-group.has-error .fileupload-new .input-append .btn-file{
	border: 2px solid $c_naranja_1;
}
.form-container .form-group.has-error svg,
.form-container .form-group.has-error i,
.form-container .has-success svg,
.form-container .has-success i{
	position: absolute;
	top: 10px;
	left: 4px;
}
.alert{
	display: none;
}
.validation-errors{
	>*{
		display: block;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
	> *:before{
		font-family: $font_1;
		font-weight: 900;
		content: "\f06a";
		font-size: .9rem;
		margin-right: 10px;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: auto;
	}
}
%placeholderGrey{
    color:$c_gris_1;
	opacity:1;
}
%placeholderDark{
    color:$c_negro;
	opacity:1;
}
%placeholderWhite{
    color:$c_blanco;
	opacity:1;
}
/*PLACEHOLDER GRIS*/
.placeholder-grey{
	input,
	textarea{
		&::placeholder{ /* General */
			@extend %placeholderGrey;
		}
		&:focus::placeholder{
			@extend %placeholderGrey;
		}
	}
}
/*PLACEHOLDER NEGRO*/
.placeholder-dark{
	input,
	textarea{
		&::placeholder{ /* General */
			@extend %placeholderDark;
		}
		&:focus::placeholder{
			@extend %placeholderDark;
		}
	}
}
/*PLACEHOLDER BLANCO*/
.placeholder-white{
	input,
	textarea{
		&::placeholder{ /* General */
			@extend %placeholderWhite;
		}
		&:focus::placeholder{
			@extend %placeholderWhite;
		}
	}
}
/*CAPTCHA*/
.grecaptcha-badge{
	visibility: hidden;
}
.form-group{
	margin-bottom: 1em;
}