/* Sección */
.section{padding: 80px 0;}
/* Imagenes */
.bg{width: 100%;}
.bgrx{background-repeat: repeat-x;}
.bgry{background-repeat: repeat-y;}
.bgnr{background-repeat: no-repeat;}
.bgp-50{background-position: 50% 50%;}
.bg-size-cover{background-size: cover;}
.bg-size-contain{background-size: contain;}
.border-transparent{border: transparent;}
/* Iconos */
.ico-bg{
	&::before,&::after{
		position: absolute;
		content: "";
	}
	&::before{
		left: 0;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&.ico-email{
		padding-left: 18px;
		&::before{
			top:4px;left: 0;width: 14px;height: 14px;background-image: url();
		}
	}
	.ico-cel{
		padding-left: 18px;
		&::before{
			top:2px;left:-2px;width: 17px;height: 18px;background-image: url();
		}
	}
}
/* General */
.ov-x-h{overflow-x: hidden!important;}
.zi-2{z-index: 2;}
.zi-1{z-index: 1;}
.ls-2{letter-spacing: -2px;}
.ls-1{letter-spacing: -1px;}
.ls-0{letter-spacing: 0;}
.ts-1{text-shadow: 1px 1px 1px #000;}
.text-justify{text-align: justify;}
.selector-for-some-widget{box-sizing: content-box;}
.vh-85{height: 85vh;}
.vh-75{height: 75vh;}
.vh-50{height: 50vh;}
a{
	transition: all .5s ease;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}
*:focus{
	outline: none!important;
}
img{
	aspect-ratio: attr(width) / attr(height);
}
#main{
	padding-top: 3rem;
	padding-bottom: 5rem;
	@include media-breakpoint-up(md){
		height: 90vh;
	}
}
/* Selección*/
::selection{
	background-color: $c_gris_2;
	color: $c_blanco;
}
/*Scroll bar*/
body{
	&::-webkit-scrollbar{
		width: 1em;
	}
	&::-webkit-scrollbar-track{
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb{
		background-color: $dark;
		outline: 1px solid transparent;
	}
}
/* Scroll Top*/
.scroll-to-top{
	position: fixed;
	padding: 10px;
	background-color: $c_gris_2;
	cursor: pointer;
	bottom: 10px;
	right: 30px;
	width:40px;
	height: 40px;
	z-index: 9999;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;transition: all 300ms linear;

	&:hover{
		background-color: $c_verde_1;
	}
}
/* Scroll Down*/
.scrollDownAnim{
    animation:moveArrow 1s ease 1s infinite alternate;
}

@keyframes moveArrow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}
/* Efecto Fade carrousel Bootstrap */
.carousel-fade{
	.carousel-item{
		opacity: 0;
		transition-duration: .6s;
		transition-property: opacity;
	}
}
.carousel-fade .carousel-item.active,.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right{opacity: 1;}
.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{opacity: 0;}
.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active,.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev {transform: translateX(0);transform: translate3d(0, 0, 0);}
/* Whatsapp */
#whatsapp-fixed{
	bottom: 50px;
	right: 0;
	z-index: 100;
}
/* Bottom Bar Wrapper*/
.bottomBarWrapper{
	width: 100vw;
  	height: 60px;
  	z-index: 99;
	bottom: -60px;
  	transition: all 1s ease-in-out;

  .bottomBarContent{
  	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    font-family: $font_3, sans-serif;
    font-weight: 600;

    p{
    	margin: 0;
    	color: $c_gris_2;
    }

    .bottomBarTitle{
    	padding: 0 10px;
    	@include media-breakpoint-up(sm) {
    		padding: 0 25px;
    	}
    	@include media-breakpoint-up(xl) {
    		padding: 0 45px;
    	}
    	@include media-breakpoint-down(lg) {
    		font-size: 11px;
    		text-align: end;
    	}
	    height: 100%;
	    position: relative;
	    align-items: center;

	    &.azul-2{
	    	&::before{
	    		background: $c_azul_2;
	    	}
	    }

	    &.naranja-1{
	    	&::before{
	    		background: $c_naranja_1;
	    	}
	    }

	    &::before{
	    	content: "";
		    height: 100%;
		    width: 50vw;
		    position: absolute;
		    top: 0;
		    right: 0;
	    }

    	.bottomBarTitleContent{
    		position: relative;
    	}
    }

    .button__fqhlI{
    	position: relative;
    	font-family: $font_3, sans-serif;
	    font-weight: 600;
    	color: $c_gris_2;
	    height: 100%;
	    text-align: left;
	    padding: 0 13px;
    	@include media-breakpoint-up(sm) {
    		padding: 0 25px;
    	}
    	@include media-breakpoint-up(xl) {
    		padding: 0 45px;
    	}
	    cursor: pointer;
	    background-color: transparent;
	    border: none;
	    display: flex;
	    align-items: center;
	    text-decoration: none;

	    &::after {
		    content: "";
		    position: absolute;
		    bottom: 50%;
		    right: 0;
		    transform: translateY(50%);
		    width: 1px;
		    height: 20px;
		    background-color: $c_gris_2;
		    opacity: .6;
			}

			&:last-child{
				padding: 0 0 0 10px;
	    	@include media-breakpoint-up(sm) {
	    		padding: 0 0 0 25px;
	    	}
	    	@include media-breakpoint-up(xl) {
	    		padding: 0 0 0 45px;
	    	}
				&::after {
		    	background-color: transparent;
		    }
		  }

			&:hover {
				opacity: .7;
			}

	    .buttonContent{
		    font-size: 12px;
		    margin-left: 10px;
		    @include media-breakpoint-up(sm) {
		    	margin-left: 15px;
		    }
		    @include media-breakpoint-up(lg) {
	    		font-size: 14px;
	    		margin-left: 20px;
	    	}
		    display: flex;
		    flex-direction: column;



		    > span{
		    	display: inline-block;
			    font-size: 9px;
			    line-height: 16px;
		    }
			&SocialMedia{
				> a{
					text-decoration: none;
				}
			}
	    }
    }
  }
}
#BarModal{
	a{
		font-size: 1.5rem;
	}
}
/*Font-size*/

/*Absolute*/

/*Relative*/
.bg,.ico-bg{
	position: relative;
}
/* Aviso de privacidad */
#privacynoticepage{
	#aviso{
		&-1{
			padding: 100px 0 35px;
			@include media-breakpoint-up(md) {
				padding: 130px 0 40px;
			}
			@include media-breakpoint-up(lg) {
				padding: 160px 0 50px;
			}
			.box{
				&-content{
					p{
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
/* Chat */
.line-thru {
	display: block;
	font-size: 12px;
	font-size: 0.75rem;
	position: relative;
	&::before {
		background-color: #FFF;
		content: '';
		height: 10px;
		left: 50%;
		position: absolute;
		margin: -5px 0 0 -20px;
		top: 50%;
		width: 40px;
		z-index: 2;
	}
	&::after {
		border-bottom: 1px solid #DADADA;
		content: '';
		display: block;
		left: 10%;
		position: absolute;
		top: 47%;
		width: 81%;
		z-index: 1;
	}
	span {
		color: #CCC;
		position: relative;
		z-index: 3;
	}
}
.top-navbar{
	margin-top: 127px;
}
.online {
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 50%;
}
.rtext {
	width: 65%;
	background: #f8f9fa;
	color: #444;
}

.ltext {
	width: 65%;
	background: #3289c8;
	color: #fff;
}
/* Animaciones imagen */
.effect-image-1{
	position: relative;
	display: block;
}
.zoom-effect-2{
	overflow: hidden;

	&:hover{
		img{
			transform: scale(1);
			-webkit-transform: scale(1);
		}
	}

	img{
		transition: all .4s linear;
	    -webkit-transition: all .4s linear;
	    -moz-transition: all .4s linear;
	    -o-transition: all .4s linear;
	    transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}
/* Featurettes*/

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
	letter-spacing: -.05rem;
}
@media (min-width: 40em) {
	.featurette-heading {
	  font-size: 43px;
	}
  }

  @media (min-width: 62em) {
	.featurette-heading {
	  margin-top: 7rem;
	}
  }
/*Nitropack*/
div[id^="nitropack-"], div[class*="nitropack-promo"] {
	display: none !important;
}
/*Cargando*/
.box-loader{
	position: absolute;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	display: flex;
	align-items: center;
	justify-content: center;

	.loader {
		width: 55px;
		aspect-ratio: 1;
		--g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
		--g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
		background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
		background-size: 25px 25px;
		background-repeat: no-repeat;
		animation: l7 1.5s infinite;
	}
}
@keyframes l7 {
	0%   {background-position:0    0   ,0 100%,100% 100% }
	25%  {background-position:100% 0   ,0 100%,100% 100% }
	50%  {background-position:100% 0   ,0 0   ,100% 100% }
	75%  {background-position:100% 0   ,0 0   ,0    100% }
	100% {background-position:100% 100%,0 0   ,0    100% }
}
/* WHATSAPP DASHBOARD*/
.btn-whatsapp-pulse {
	background: #25d366;
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 31px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 120px;
	right: 20px;
	animation-play-state: paused;

	&::before {
		content: "";
		position: absolute;
		border-radius: 50%;
		padding: 25px;
		border: 5px solid #25d366;
		opacity: 0.75;
		animation-name: pulse-border;
		animation-duration: 1.5s;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
	}
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* Personalizados */